Repository AlexandrosAlexiou/kotlin-language-server, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci-cd, code completion, code quality, dependency resolution, diagnostics, docker, editor support, formatting, gradle, index, maven

.github/labeler.yml:

build:
  - buildSrc/**
  - server/build.gradle.kts
  - shared/build.gradle.kts
  - build.gradle.kts
  - gradle
  - gradle.properties
  - gradlew
  - gradlew.bat
  - settings.gradle.kts

ci-cd:
  - .github/**

code completion:
  - server/src/main/kotlin/org/javacs/kt/completion/**
  - server/src/test/resources/completions/**

code quality:
  - server/src/test/**
  - shared/src/test/**

dependency resolution:
  - shared/src/main/kotlin/org/javacs/kt/classpath/**

diagnostics:
  - server/src/main/kotlin/org/javacs/kt/diagnostic/**

docker:
  - Dockerfile

editor support:
  - EDITORS.md

formatting:
  - server/src/main/kotlin/org/javacs/kt/formatting/**
  - server/test/resources/formatting/**

gradle:
  - shared/src/main/kotlin/org/javacs/kt/classpath/Gradle*
  - shared/src/main/resources/*.gradle

index:
  - server/src/main/kotlin/org/javacs/kt/index/**

maven:
  - shared/src/main/kotlin/org/javacs/kt/classpath/Maven*

refactor: use JetBrains release repository for FernFlower decompiler package
  platform/build.gradle.kts
  server/build.gradle.kts
  server/lib/fernflower-license.txt
  server/lib/gradle-kotlin-dsl-tooling-models-0.11.0-license.txt
  server/lib/org/jetbrains/fernflower/1.0/fernflower-1.0.jar
  server/lib/org/jetbrains/fernflower/1.0/fernflower-1.0.pom
  server/src/main/kotlin/org/javacs/kt/externalsources/ClassContentProvider.kt
  server/src/main/kotlin/org/javacs/kt/externalsources/FernFlowerDecompiler.kt
  server/src/main/kotlin/org/javacs/kt/externalsources/FernflowerDecompiler.kt
Labels: build

chore: update gradle wrapper to latest version
  gradle/wrapper/gradle-wrapper.properties
Labels: none

chore: bump kotlin to 2.1.0
  platform/build.gradle.kts
  server/src/test/resources/additionalWorkspace/gradle.properties
Labels: code quality

feat: allow walking generated sources inside target folder
  server/src/main/kotlin/org/javacs/kt/CompilerClassPath.kt
  shared/src/main/kotlin/org/javacs/kt/SourceExclusions.kt
Labels: none

fix: completions test failing for println that accepts a message
  server/src/test/kotlin/org/javacs/kt/CompletionsTest.kt
Labels: code quality

fix: return statements should be less than 2
  shared/src/main/kotlin/org/javacs/kt/SourceExclusions.kt
Labels: none

test(server): add gitignore support to SourceExclusions
  shared/src/main/kotlin/org/javacs/kt/SourceExclusions.kt
  shared/src/test/kotlin/org/javacs/kt/SourceExclusionsTest.kt
Labels: code quality

chore: bump dependencies to latest versions
  platform/build.gradle.kts
  server/src/main/kotlin/org/javacs/kt/index/SymbolIndex.kt
Labels: index

chore: remove unused progressFactory
  server/src/main/kotlin/org/javacs/kt/SourcePath.kt
Labels: none

test(server): add gitignore support to SourceExclusions
  shared/src/main/kotlin/org/javacs/kt/SourceExclusions.kt
  shared/src/test/kotlin/org/javacs/kt/SourceExclusionsTest.kt
Labels: code quality

chore: adapt folders to new lsp4j API
  server/src/main/kotlin/org/javacs/kt/KotlinLanguageServer.kt
Labels: none

chore: adapt test
  server/src/test/kotlin/org/javacs/kt/CompletionsTest.kt
Labels: code quality

refactor: adapt test
  server/src/test/kotlin/org/javacs/kt/CompletionsTest.kt
Labels: code quality

refactor: remove wildcard imports
  server/src/main/kotlin/org/javacs/kt/Server.kt
  server/src/main/kotlin/org/javacs/kt/compiler/CompilationEnvironment.kt
  server/src/main/kotlin/org/javacs/kt/definition/DefinitionHandler.kt
Labels: none

refactor: use JetBrains release repository for FernFlower decompiler package
  platform/build.gradle.kts
  server/build.gradle.kts
  server/lib/fernflower-license.txt
  server/lib/gradle-kotlin-dsl-tooling-models-0.11.0-license.txt
  server/lib/org/jetbrains/fernflower/1.0/fernflower-1.0.jar
  server/lib/org/jetbrains/fernflower/1.0/fernflower-1.0.pom
  server/src/main/kotlin/org/javacs/kt/externalsources/ClassContentProvider.kt
  server/src/main/kotlin/org/javacs/kt/externalsources/FernFlowerDecompiler.kt
  server/src/main/kotlin/org/javacs/kt/externalsources/FernflowerDecompiler.kt
Labels: build

fix: broken test
  server/src/test/kotlin/org/javacs/kt/CompletionsTest.kt
Labels: code quality

feat: resolve todo by fetching paths async
  server/src/main/kotlin/org/javacs/kt/CompilerClassPath.kt
Labels: none

fix: adapt test
  server/src/test/kotlin/org/javacs/kt/CompletionsTest.kt
Labels: code quality

fix: use existing async executor
  server/src/main/kotlin/org/javacs/kt/CompilerClassPath.kt
Labels: none
